<!DOCTYPE html>
<html>
<head>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
    <div class="container" style="background-color:black;color:white">
        <a class="navbar-brand" asp-area="" style="color:white">MovieSaga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Home" style="color:white">User</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Login" style="color:white">SignOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@RenderBody()
</body>
</html>